<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGPA Calculator</title>
</head>
<body>
    {%block body%}
    <form method='POST'>
    <label for="semester">Select your semester: </label>
    <select name="semester">
        <option value="semester1">Semester 1</option>
        <option value="semester2">Semester 2</option>
        <option value="semester3">Semester 3</option>
        <option value="semester4">Semester 4</option>
        <option value="semester5">Semester 5</option>
        <option value="semester6">Semester 6</option>
        <option value="semester7">Semester 7</option>
        <option value="semester8">Semester 8</option>
        <input type="submit" value="submit">
      </select>  
    </form>
    {%endblock%}
    {%block inputs%} {%endblock%}
</body>
</html>